z@font-face {
  font-family: 'Canela-Black';
  src: url('fonts/Canela-Black.otf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Canela-Light';
  src: url('fonts/Canela-Light.otf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Dia-Bold';
  src: url('fonts/Dia-Bold.otf'); /* IE9 Compat Modes */
}

*:focus {
    outline:none;
}


h1{
  font-weight: lighter;
}

a{
  text-decoration: none;
}

*{
    outline:none;
    -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
           user-select: none; /* Non-prefixed version, currently
                                 supported by Chrome and Opera */
}


.main_title{
  position: absolute;
  top: 0;
  left: 0;
}

.main_title span{
  font-size: 3vw;
  color: white;
  font-family: 'Dia-Bold';
}


.flickr_shit{
  height: 100vh;
  position: absolute;
  width: 100vw;
  top: 0;
  background-color: black;
  z-index: 100000000;
}


.flickr_shit_container{
  width: 100vw;
  height: 100vh;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.flickr_shit_container img{
  max-height: 90vh;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}

#slider{
  overflow: hidden;
}

.loader{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: "black"
}

.text_path{
  font-size: 3vw;
}

.loader span{
  font-family: Dia-Bold;
  font-size: 20vw;
  background-color: "white";
}


.screen_numbers{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.screen_numbers div{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.flasher{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flasher img{
  width: 102vw;
  height: auto;
  top: 0;
  margin: 0;
}

.main_info{
  width: 100vw;
  position: absolute;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 100vh;
  z-index: 100;
}

.main_info div{
  display: block;
}

.main_info span{
  font-size: 2.6vw;
  font-family: Canela-Light;
  display: block;
  text-transform: uppercase;
}

.main_info span:first-child{
  font-size: 2.6vw;
  margin: 0;
  font-family: Dia-Bold;

}

.screen_numbers span{
  font-size: 20vw;
  transform: scaleY(2.7);
  color: transparent;
  text-shadow: 0 0 24px black;
  opacity: 0.3;
  font-family: Canela-Light;
}

.about_page{
  position: absolute;
  top: 8vw;
  left: 2vw;
  right: 3vw;
}

.about_page .span_main_text{
  margin: 0;
  font-family: Canela-Light;
  color: white;
  line-height: 100%;
  font-size: 2.4vw;
}

.intermezzo_container{
  display: flex;
}

#svg_intermezzo{
  transform: scale(1);
  padding: 9vw;
}

.info_menu_intermezzo{
  width: 47vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



.info_menu_intermezzo span{
  text-transform: uppercase;
  font-family: Canela-Light;
  font-size: 5.6vw;
  color: white;
  border-radius: 20px;
  padding: 1vw;
  margin: 0.2vw;

}

.vid_container{
  display: flex;
  height: 100vh;
  width: 100vw;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.video_works{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.slider_about{
  bottom: 0;
  left: 0;
  height: 29vh;
  position: absolute;
  margin: 2vw;
}

.slider_about img{
  height: 100%;
}


.about_page .main_about .sec_span_about{
      margin: 0;
      font-family: Dia-bold;
      font-size: 2.2vw;
      line-height: 100%;
}

.about_page .secon_about{
  margin-top: 4vw;
  display: flex;
}



.about_page .secon_about div{
  width: 40vw;
  display: flex;
  flex-direction: column;
}

.about_page .secon_about span{
  margin: 0;
  font-family: Dia-bold;
  font-size: 2.2vw;
  line-height: 100%;
  display: block;
}

.about_page .secon_about a{
    margin: 0;
    font-family: Canela-Light;
    color: white;
    font-size: 2.2vw;
    line-height: 100%;
}

.about_page .secon_about .span_mail{
    margin: 0;
    font-family: Canela-Light;
    color: black;
    display: inline-block;
    font-size: 1.6vw;
    line-height: 100%;
}

.img_container div img{
  height: 100vh;
  position: absolute;
  top: 0;
}

.counter_1{
  position: absolute;
  left: 0;
  line-height: 100%;
  top: 1vw;
  font-size: 65vw;
  font-family: Canela-Light;
  z-index: 1;
}

.info_menu{
  position: absolute;
  top: 2vh;
  left: 2vw;
  z-index: 100;
  display: flex;
  justify-content: center;
}

.selected_projects_menu{
    margin-left: 10vw;
}

.selected_projects_menu ul{
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.selected_projects_menu ul li{
  font-family: Dia-Bold;
  color: white;
  text-transform: uppercase;
  font-size: 1.5vw;
}


.rangeslider-horizontal{
  height: 6px;
  border-radius: 10px;
  width: 20vw;
  margin-left: 4vw;
}

.rangeslider{
  background-color: white;
}

.rangeslider-horizontal .rangeslider__fill{
  background-color: white;
}

.rangeslider, .rangeslider .rangeslider__fill{
  box-shadow: none;
}

.rangeslider-horizontal .rangeslider__handle{
  width: 20px;
  height: 20px;
}

.rangeslider-horizontal .rangeslider__handle:after{
  display: none;
}

.rangeslider .rangeslider__handle{
  border: none;
}


.info_menu span{
  text-transform: uppercase;
  font-family: Canela-Light;
  font-size: 1.6vw;
  color: white;
  margin: 1.2vw;
}

.info_menu span:first-child{
  margin-left: 0;
  padding-left: 0;
}



.close_selected_project{
  position: fixed;
  z-index: 10;
  right: 2vw;
  top: 2vw;
}

.close_selected_project span{
  font-family: Dia-Bold;
  text-transform: uppercase;
  font-size: 1.5vw;
}

.info_menu h1{
  font-family: Dia-bold;
  font-size: 2.6vw;
  margin: 0;
}

.info_menu .selected{
  text-decoration: line-through;
}

.img_thumbnails_focus{
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.img_thumbnails_focus img{
  max-height: 95vh;
}


.counter_2{
  position: absolute;
  right: 0;
  line-height: 100%;
  top: 1vw;
  font-size: 65vw;
  font-family: Canela-Light;
  z-index: 1;
  }

.img_thumbnails_container{
  position: absolute;
  top: 40vh;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vw;
}


.test{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(0,0,0, 0.9);
  z-index: 10000;
}

.App_videos{
  background-color: black;
  width: 100vw;
}

.main_slider_wrapper{
  z-index: 10;
}

.img_thumbnails{
  display: inline-block;
  padding-right: 1vw;
  margin-right: 1vw;
  margin-bottom: 1vw;
}


.intermezzo{
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

.video_footer{
  position: fixed;
  bottom: 0;
  width: 100vw;
  left: 2vw;
}

.video_footer h1{
  font-size: 2.6vw;
  font-family: Dia-bold;
  color: white;
}

.video_main_container{
  position: absolute;
  top: 8vw;
  width: 100vw;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.video_container{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.video_container iframe{
  width: 80vw;
}

#svg_container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  transform: scale(0.75);
}

#svg {
  width: 100vw;
  height: 131vh;
}


#svg_text{
  font-size: 10vw;
  font-family: Dia-Bold;
  text-transform: uppercase;
}


#svg_text_intermezzo{
  font-size: 10vw;
  font-family: Canela-Light;
  text-transform: uppercase;
}


.links_intermezzo{
  margin-left: 3vw;
}



.first_slider{
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.vimeo_embed{
  margin-bottom: 2vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 110vh;
}

.control_vimeo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.control_vimeo_inner{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74%;
  padding-top: 3vw;
}


.control_vimeo_inner div:first-child{
  flex-direction: column;
  display: flex;
  width: 70%;
}

.control_vimeo_inner div:last-child{
  display: flex;
  width: 30%;
  display: none;
}


.img_categories_selected{
  height: 100vh;
}

.control_vimeo_inner div:first-child span{
  font-family: Dia-bold;
  font-size: 2vw;
  color: white;
}

.control_vimeo_inner div:first-child span:first-child{
  font-size: 2vw;
  font-family: Canela-Light;
  color: white;
}

.main_text_container{
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  justify-content: center;
}


.main_text_container h1{
  font-family: 'Dia-Bold';
  margin: 0;
  mix-blend-mode: difference;
  font-size: 5vw;
  position: absolute;
}

.img_thumbnails img{
  height: 11vw;
  cursor: pointer;
}


.vimeo_container{
  width: 90vw;
  background-color: white;
  height: 90vh;
}

.scale_04{
  transform: scale(0.4);
}
.scale_05{
  transform: scale(0.5);
}
.scale_06{
  transform: scale(0.6);
}
.scale_07{
  transform: scale(0.7);
}
.scale_08{
  transform: scale(0.8);
}
.scale_09{
  transform: scale(0.9);
}
.scale_1{
  transform: scale(1);
}

/* animations */

.anim_text_darkbox {
	-webkit-animation: anim_text_darkboxX 5s linear 0s infinite alternate, anim_text_darkboxY 5s linear 0s infinite alternate;
	-moz-animation: anim_text_darkboxX 5s linear 0s infinite alternate, anim_text_darkboxY 5s linear 0s infinite alternate;
	-o-animation: anim_text_darkboxX 5s linear 0s infinite alternate, anim_text_darkboxY 5s linear 0s infinite alternate;
	animation: anim_text_darkboxX 5s linear 0s infinite alternate, anim_text_darkboxY 5s linear 0s infinite alternate;
}
@-webkit-keyframes anim_text_darkboxX {
	from {
		right: 20vw;
	}
	to {
		right: 60vw;
	}
}
@-moz-keyframes anim_text_darkboxX {
	from {
		right: 20vw;
	}
	to {
		right: 60vw;
	}
}
@-o-keyframes anim_text_darkboxX {
	from {
		right: 20vw;
	}
	to {
		right: 60vw;
	}
}
@keyframes anim_text_darkboxX {
	from {
		right: 20vw;
	}
	to {
		right: 60vw;
	}
}
@-webkit-keyframes anim_text_darkboxY {
	from {
		top: 100vh;
	}
	to {
		top: 0;
	}
}
@-moz-keyframes anim_text_darkboxY {
	from {
		top: 100vh;
	}
	to {
		top: 0;
	}
}
@-o-keyframes anim_text_darkboxY {
	from {
		top: 100vh;
	}
	to {
		top: 0;
	}
}
@keyframes anim_text_darkboxY {
	from {
		top: 100vh;
	}
	to {
		top: 0;
	}
}

/* QUERY SHIT */


/* IPAD Landscape */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

}


/* IPAD PORTRAIT */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

}


/* IPHONE PORTRAIT */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    #svg_text_intermezzo{
          font-size: 43vw;
    }

    #svg_text{
      font-size: 60vw;
    }

    #videos{
      margin-top: 0;
    }

    .video_container{
      height: 100vh;
    }

    .info_menu{
      justify-content: center;
      flex-direction: column;
      bottom: 2vh;
      top: auto;
      width: 100vw;
      position: fixed;
    }

    .img_thumbnails_container{
      padding: 0;
      margin: 0;
    }

    .about_page .span_main_text{
      font-size: 11.4vw;
    }

    .about_page .main_about .sec_span_about,
    .about_page .secon_about span{
      font-size: 7.2vw;
      color: white;
      margin-bottom: 3vw;
    }

    .secon_about{
      padding-bottom: 142vw;
    }

    .black{
      background-color: white;
      bottom: 0;
      left: 0;
      position: fixed;
    }

    .white{
      background-color: transparent;
      bottom: 0;
      left: 0;
      position: fixed;
    }

    .about_page .secon_about {
      padding: 2vw;
      padding-bottom: 60vw;
    }

    .about_page .secon_about div:first-child{
      margin-right: 1vw;
    }
    .about_page .secon_about div:last-child{
      margin-left: 1vw;
    }

    .about_page .secon_about a{
        font-size: 4.6vw;
        line-height: 120%;
        word-wrap: break-word;

    }

    .black span{
      color: black;
    }

    .main_about{
      padding: 2vw;
    }

    #no_background{
      background-color: transparent !important;
    }

    .remove_mob{
      display: none;
    }


    .about_page .secon_about div{
      width: 50vw;
    }

    .img_thumbnails{
      margin: 0;
      padding: 0;
    }

    .info_menu span{
      font-size: 9.6vw;
      line-height: 90%;
      color: black;
    }

    .img_container div img{
      width: 70vw;
      height: auto;
      position: inherit;
    }

    .main_info{
      display: none;
    }

    .img_container div{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .img_container div img{
        top: auto;
      }

      .img_thumbnails{
          width: 100vw;
      }

      .img_thumbnails img{
          width: 100vw;
          height: auto;
      }

      .img_thumbnails_focus img{
        max-width: 90vw;
      }

      iframe{
        width: 80vw;
        height: auto;
      }

      .control_vimeo{
        display: none;
      }

      .vimeo_embed{
        height: auto;
      }
}



@media screen and (max-width: 520px) {
  #svg_text_intermezzo{
        font-size: 43vw;
  }

  #svg_text{
    font-size: 60vw;
  }

  #videos{
    margin-top: 0;
  }

  .video_container{
    height: 100vh;
  }

  .info_menu{
    justify-content: center;
    flex-direction: column;
    bottom: 2vh;
    top: auto;
    width: 100vw;
    position: fixed;
  }

  .img_thumbnails_container{
    padding: 0;
    margin: 0;
  }

  .about_page .span_main_text{
    font-size: 11.4vw;
  }

  .about_page .main_about .sec_span_about,
  .about_page .secon_about span{
    font-size: 7.2vw;
    color: white;
    margin-bottom: 3vw;
  }

  .secon_about{
    padding-bottom: 142vw;
  }

  .black{
    background-color: white;
    bottom: 0;
    left: 0;
    position: fixed;
  }

  .white{
    background-color: transparent;
    bottom: 0;
    left: 0;
    position: fixed;
  }

  .about_page .secon_about {
    padding: 2vw;
    padding-bottom: 60vw;
  }

  .about_page .secon_about div:first-child{
    margin-right: 1vw;
  }
  .about_page .secon_about div:last-child{
    margin-left: 1vw;
  }

  .about_page .secon_about a{
      font-size: 4.6vw;
      line-height: 120%;
      word-wrap: break-word;

  }

  .black span{
    color: black;
  }

  .main_about{
    padding: 2vw;
  }

  #no_background{
    background-color: transparent !important;
  }

  .remove_mob{
    display: none;
  }


  .about_page .secon_about div{
    width: 50vw;
  }

  .img_thumbnails{
    margin: 0;
    padding: 0;
  }

  .info_menu span{
    font-size: 9.6vw;
    line-height: 90%;
    color: black;
  }

  .img_container div img{
    width: 70vw;
    height: auto;
    position: inherit;
  }

  .main_info{
    display: none;
  }

  .img_container div{
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .img_container div img{
      top: auto;
    }

    .img_thumbnails{
        width: 100vw;
    }

    .img_thumbnails img{
        width: 100vw;
        height: auto;
    }

    .img_thumbnails_focus img{
      max-width: 90vw;
    }

    iframe{
      width: 80vw;
      height: auto;
    }

    .control_vimeo{
      display: none;
    }

    .vimeo_embed{
      height: auto;
    }
}
